@mixin button--large ($width, $height, $color, $border, $background-color){
    border-radius: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font: $roboto__20;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    width: $width;
    height: $height;
    color: $color;
    border: $border;
    background-color: $background-color;
    transition-duration: 1s;
}
    
@mixin button--large__animation ($background-color, $color, $color-hover) {
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $background-color;
        color: $color;
        transition: 0.9s;
        border-radius: 10rem;
        z-index: -1;
    }
        &:hover {
        color: $color-hover;
        transform-origin: 0% 0%;
        transform: translate(25px);
    
        &::before {
             width: 100%;
        }
    }
}

@mixin button--cicle ($width, $height) {
    width: $width;
    height: $height;
    border-radius: 50%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-out;

    &:hover {
         transform: scale(1.2);
    }
}

@mixin button--cicle__border {
    &:hover {
        animation-name: color;
        animation-duration: 2s;
        transition: all 0.5s linear;

        @keyframes color {
            0% {
                border: solid 1px $primary-color;
            }

            100% {
                border: solid 1.5px $primary-color;
            }
        }
    }
}