@mixin button--large ($width, $height, $color, $border, $background-color){
    border-radius: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font: $roboto__20;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    width: $width;
    height: $height;
    color: $color;
    border: $border;
    background-color: $background-color;
}
    
@mixin button--large__animation ($background-color, $color, $color-hover) {
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $background-color;
        color: $color;
        transition: 0.9s;
        border-radius: 10rem;
        z-index: -1;
    }
    
    &:hover {
        color: $color;
    
        &::before {
            width: 100%;
        }
    }
}

@mixin button--cicle ($width, $height, $transform) {
    width: $width;
    height: $height;
    border-radius: 50%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
         transform: $transform;
         transition: all 0.5s ease-out;
    }
}