<section class="section2">
  <h3 class="section2--title">Año nuevo, movimientos nuevos</h3>
  <aside class="aside" id="aside-anchor">
    <article class="aside--article">
      <h4 class="aside--article__title">Entrenamientos</h4>
      <p class="aside--article__p">Sesiones de running y entrenamientos.</p>
    </article>
    <article class="aside--article">
      <h4 class="aside--article__title">Cualquier nivel</h4>
      <p class="aside--article__p">Entrenamientos para cada nivel.</p>
    </article>
    <article class="aside--article">
      <h4 class="aside--article__title">Exclusividad</h4>
      <p class="aside--article__p">Productos para miembros premium.</p>
    </article>
  </aside>
  <!-- <div class="aside--button">
    <a class="aside--button__link" href="">Empezar ahora</a>
  </div> -->
  <a class="aside--button" href="https://adalab.es/" target="_blank"
    >Empezar ahora</a
  >
</section>
