<aside class="container--aside" id="aside--anchor">
  <h3 class="container--aside__title">Año nuevo, movimientos nuevos</h3>
  <div class="aside">
    <include
      src="./aside-article.html"
      promo="Entrenamientos"
      promo_description="Sesiones de running y entrenamientos."
    ></include>

    <include
      src="./aside-article.html"
      promo="Cualquier nivel"
      promo_description="Entrenamientos para cada nivel."
    >
    </include>
    <include
      src="./aside-article.html"
      promo="Exclusividad"
      promo_description="Productos para miembros premium."
    >
    </include>
  </div>
  <a class="aside--button" href="https://adalab.es/" target="_blank"
    >Empezar ahora</a
  >
  <a class="aside--button__2" href="#home--anchor"
    ><img
      src="./assets/images/ico-arrow.svg"
      alt="icon arrow"
      title="icon arrow"
  /></a>
</aside>
