<footer class="footer">
  <nav class="footer--nav">
    <ul>
      <include src="./footer-links.html" item_link="Zapatillas"></include>
      <include src="./footer-links.html" item_link="Ropa"></include>
      <include src="./footer-links.html" item_link="Niño/a"></include>
      <include src="./footer-links.html" item_link="Destacados"></include>
      <include src="./footer-links.html" item_link="Tips"></include>
    </ul>
  </nav>
  <nav class="footer--nav">
    <ul>
      <include src="./footer-links.html" item_link="Twitter"></include>
      <include src="./footer-links.html" item_link="Instagram"></include>
      <include src="./footer-links.html" item_link="Youtube"></include>
    </ul>
  </nav>
  <div class="footer--small">
    <small>@2023</small>
    <p>we <span>❤︎</span> run</p>
  </div>
</footer>