<footer class="footer">
  <div class="aside--button__2">
    <a href="#aside-anchor"
      ><img src="./assets/images/ico-arrow.svg" alt=""
    /></a>
  </div>
  <nav class="footer--nav">
    <ul>
      <li>
        <a href="https://adalab.es/" target="_blank">Zapatillas</a>
      </li>
      <li><a href="https://adalab.es/" target="_blank">Ropa</a></li>
      <li><a href="https://adalab.es/" target="_blank">Niño/a</a></li>
      <li>
        <a href="https://adalab.es/" target="_blank">Destacadosr</a>
      </li>
      <li><a href="https://adalab.es/" target="_blank">Tips</a></li>
    </ul>
  </nav>
  <nav class="footer--nav">
    <ul>
      <li>
        <a href="https://adalab.es/" target="_blank">Twitter</a>
      </li>
      <li><a href="https://adalab.es/" target="_blank">Instagram</a></li>
      <li><a href="https://adalab.es/" target="_blank">Youtube</a></li>
    </ul>
  </nav>
  <div class="footer--small">
    <small>@2023</small>
    <p>we <span>❤︎</span> run</p>
  </div>
</footer>
