<section class="section-2">
  <h3 class="section-2--title">Año nuevo movimientos nuevos</h3>
  <aside class="section-2--aside">
    <article class="section-2--aside__article">
      <h4>Entrenamientos</h4>
      <p>Sesiones de running y entrenamientos.</p>
    </article>
    <article>
      <h4>Cualquier nivel</h4>
      <p>Entrenamientos para cada nivel.</p>
    </article>
    <article>
      <h4>Exclusividad</h4>
      <p>Productos para miembros premium.</p>
    </article>
  </aside>
  <div>
    <a href="">Empezar ahora</a>
  </div>
</section>
