$primary-color: #f26002;
$roboto_slab_30: 700 1.875rem 'Roboto Slab', serif;
$roboto__16: 400 16px 'Roboto', sans-serif;
$roboto__16: 400 16px 'Roboto', sans-serif;
$roboto__14: 400 14px 'Roboto', sans-serif;
$roboto_slab_24: 700 24px 'Roboto Slab', serif;
$roboto__18: 400 18px 'Roboto', sans-serif;
$roboto__20: 500 20px 'Roboto', sans-serif;
$roboto_slab_20: 700 20px 'Roboto Slab', serif;
$roboto_slab_24: 700 24px 'Roboto Slab', serif;
$roboto_slab_18: 700 18px 'Roboto Slab', serif;
$greyish-brown: #4a4a4a;
$white-two: #f2f2f2;
$white: white;
$black: black;
