.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $greyish-brown;
    text-align: center;
    gap: 30px;
    padding: 65px 0 36px 0;
    @include tablet {
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            padding: 56px 111px 34px 150px;
            text-align: left;
    }
    @include desktop {
            justify-content: center;
            padding: 50px 0px 40px 0px;
            text-align: left;
            gap: 150px;
    }

    &--nav {
        a {
            text-decoration: none;
            color: $white;
            font: $roboto__16;
            text-transform: uppercase;
            line-height: 2;
        }
    }

    &--small {
        font: $roboto__14;
        color: $white;
        line-height: 2.14;

        span {
            color: $primary-color;
        }
        @include tablet {
            order:-1;
        }
    }
}