.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 465px;
    background-color: $greyish-brown;
    text-align: center;
    gap: 30px;
    padding-bottom: 60px;
}
.aside--button__2 {
    width: 2.369rem;
    height: 2.369rem;
    border-radius: 50%;
    background-color: $white;
    position: relative;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer--nav {
    line-height: 1.88;
    
    a {
        text-decoration: none;
        color: $white;
        font: $roboto__16;
        text-transform: uppercase;
    }
}

.footer--small {
    font: $roboto__14;
    color: $white;
    line-height: 2.14;

    span {
        color: $primary-color;
    }
}
