.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $greyish-brown;
    text-align: center;
    gap: 30px;
    padding: 65px 0;

    @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: 56px 159px 34px 159px;
            text-align: left;
            transition: all 3s;
    }
    @include desktop {
            justify-content: center;
            align-items: flex-start;
            padding: 50px 0px 40px 0px;
            text-align: left;
            gap: 70px;
            transition: all 3s;
    }
}

.footer--nav {
    line-height: 1.88;
    
    a {
        text-decoration: none;
        color: $white;
        font: $roboto__16;
        text-transform: uppercase;
    }
}

.footer--small {
    font: $roboto__14;
    color: $white;
    line-height: 2.14;

    span {
        color: $primary-color;
    }
    @include tablet {
        order:-1;
    }
}
