.header {
    position: fixed;
    z-index: 1;
    top: 0;  
}
.header--button {
    width: 2.313rem;
    height: 2.313rem;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    
        &:hover {
            transform: scale(1.1 , 1.1);
            transform-origin: top left;
            border-radius: 8%;
            transition: 0.5s;
        }

    @include tablet {
        width: 44px;
        height: 44px;
        transition: 2s;
    }
    @include desktop {
        width: 45px;
        height: 45px;
        transition: 2s;
    }   
}