.header {
    position: fixed;
    z-index: 1;
    top: 0;  

    &--button {
    width: 34px;
    height: 34px;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
    
        &:hover {
            transform: scale(1.1 , 1.1);
            transform-origin: top left;
            border-radius: 8%;
        }

        @include tablet {
            width: 44px;
            height: 44px;
        }
        @include desktop {
            width: 45px;
            height: 45px;
        }   
    }
}