.hero {
    height: 100vh;
    background: url(../images/cover.jpeg) center/cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 19.631rem;
    text-align: center;

        &--title__1 {
            color: white;
            font: $roboto_slab_30;
            text-transform: uppercase;
            line-height: 1.67;
        }   
    
        &--title__2 {
        font: $roboto__16;
        color: $white;
        padding: 0 16px;
        }

    &--button {
        height: 2.369rem;
        width: 2.369rem;
        text-decoration: none;
        border-radius: 50%;
        color:$primary-color;
        padding-top: 12px;
        background-color: $white;
        margin: 16px 0 36px 0;
        cursor: pointer;
    }
}