.hero {
    height: 100vh;
    background-image: url(../images/cover.jpeg);
    background-position: 42%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    
    &--title__1 {
        color: white;
        font: $roboto_slab_30;
        text-transform: uppercase;
        line-height: 1.67;

        @include tablet {
            font-size: 4.688rem;
            line-height: 1.33;
            transition: all 3s ease-in-out;
        }
        @include desktop {
            font-size: 100px;
            line-height: 1.32;
            transition: all 3s ease-in-out;
        }
    }   
    
    &--title__2 {
    font: $roboto__16;
    line-height: 1.17;
    color: $white;
    padding: 0 16px 15px 16px ;

        @include tablet {
                font-size: 24px;
                line-height: 1.17;
                transition: all 3s;
        }
    }

    &--button {
        margin-bottom: 37px;
        @include button_cicle (37px, 37px, translateY(7px));

        @include tablet {
            width: 43px;
            height: 43px;
            margin-bottom: 45px;
        }

        @include desktop {
            width: 45px;
            height: 45px;
            margin: 15px 0 33px 0;
        }
    }
}
