.hero {
    height: 100vh;
    background: url(../images/cover.jpeg) center/cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 19.631rem;
    text-align: center;

     &--title__1 {
        color: white;
        font: $roboto_slab_30;
        text-transform: uppercase;
        line-height: 1.67;
    }   
    
    &--title__2 {
    font: $roboto__16;
    color: $white;
    }

    &--circle {
        width: 2.369rem;
        height: 2.369rem;
        border-radius: 50%;
        background-color:$white;
        padding: 12px 11px;
        margin: 15px 0 35px 0;

            &__link {
            width: 16.8px;
            }
    }
}
