.section {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 34px 12px 42px 21px;
    @include tablet {
        padding: 37px 39px 41px 37px;
    }
    @include desktop {
        padding: 58px 136px 67px 275px;
        transition: all 2s linear;
    }

    &--p1 {
        font: $roboto__14;
        color: $primary-color;
        padding-bottom: 7px;
        @include tablet {
            font-size: 1rem;
        }
    }

    &--title {
        font: $roboto_slab_24;
        color: black;
        padding-bottom: 10px;
        @include tablet {
            font-size: 2rem;
        }
    }

    &--p2 {
        color: $greyish-brown;
        font: $roboto__18;
        padding-bottom: 21px;
        line-height: 1.67;
        @include tablet {
            font-size: 1.25rem;
        }
    }

    &--button {
        @include button--large (10rem, 2.813rem, $primary-color, solid 2px $primary-color, $white);
        @include button--large__animation ($primary-color, $white, $white);
    }
}